{% extends 'base.html' %}
{% block title %}WebGL Experiments{% endblock %}
{% block content %}

    <h2>Algorithms</h2>
    <ul>
        <li>
            <a href="/search/maze_gen">Maze Generator</a>
        </li>
        <li>
            <a href="/search/maze_astar">Maze Solver using A* algorithm</a>
        </li>
        <li>
            <a href="/search/dfs3d">Maze Generator in 3D, DFS backtracker</a>
        </li>
        <li>
            <a href="/sort/bubble_sort">Sort</a>
        </li>
    </ul>

    <h2>Physics/Simulation</h2>
    <ul>
        <li>
            <a href="/physics/attractor">Particle attractor</a>
        </li>
        <li>
            <a href="/noise/perlin_branches">Perlin Flow Field</a>
        </li>
        <li>
            <a href="/physics/3d_attractor">Three JS attractor</a>
        </li>
    </ul>

    <h2>Interactive</h2>
    <ul>
        <li>
            <a href="/interactive/mouseCap">Mouse Capture Testing</a>
        </li>
        <li>
            <a href="/lighting/pointLights">PointLights</a>
        </li>
    </ul>


{% endblock %}