{% extends 'base.html' %}
{% block title %}WebGL Experiments{% endblock %}
{% block stylefiles %}
    {{ super() }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="conatiner">
        <div class="col-sm-12">
            <div class="text-center">
                <h1>WebGL Experiments</h1>
                <h4><a href="https://github.com/benji-b-rmz/WebGLExperiments">View Source <i class="fa fa-github" aria-hidden="true"></i></a> </h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 ">
                    <h2>Algorithms</h2>
                    <ul>
                        <li>
                            <a href="/search/maze_gen">Maze Generator</a>
                        </li>
                        <li>
                            <a href="/search/maze_astar">Maze Solver using A* algorithm</a>
                        </li>
                        <li>
                            <a href="/search/dfs3d">Maze Generator in 3D, DFS backtracker</a>
                        </li>
                        <li>
                            <a href="/sort/bubble_sort">Sort</a>
                        </li>
                    </ul>

                    <h2>Noise</h2>
                    <ul>
                        <li>
                            <a href="/noise/perlin_branches">Perlin Flow Field</a>
                        </li>
                        <li>
                            <a href="/noise/noise_shader">Perlin noise shaders</a>
                        </li>
                        <li>
                            <a href="/noise/noisy_cube">Noisy Cube</a>
                        </li>
                        <li>
                            <a href="/noise/noisy_sphere">Noisy Sphere</a>
                        </li>
                        <li>
                            <a href="/noise/distorted_shapes">Distorted Shapes</a>
                        </li>
                    </ul>

                    <h2>Physics</h2>
                    <ul>
                        <li>
                            <a href="/physics/attractor">Particle attractor</a>
                        </li>

                        <li>
                            <a href="/physics/3d_attractor">Three JS attractor</a>
                        </li>
                    </ul>

                    <h2>Lighting</h2>
                    <ul>
                        <li>
                            <a href="/lighting/pointLights">Point Lights</a>
                        </li>
                        <li>
                            <a href="/lighting/planeShadows">Plane Shadows</a>
                        </li>
                    </ul>

                    <h2>Interactive</h2>
                    <ul>
                        <li>
                            <a href="/interactive/mouseCap">Mouse Capture Testing</a>
                        </li>

                    </ul>

                    <h2>Miscellaneous</h2>
                    <ul>
                        <li>
                            <a href="/misc/flag">Flag</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>




{% endblock %}